<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    {% set active_page = "Home" %} {% include 'header.html' %}
    <main>
        You did it, Welcome!!!
        <div>
            <button type="button" class="btn btn-success">Clock in</button>
            <button type="button" class="btn btn-danger">Clock out</button>
            <form method="get" action="{{ url_for('upload') }}">
                <button type="submit" class="btn btn-danger" href="{{ url_for( 'upload') }} ">Upload Image</button>
            </form>
        </div>


    </main>
    {% include 'footer.html' %}
</body>

</html>